CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

DJANGO_API_HOST=
DJANGO_DATABASE_URL=
DJANGO_DEBUG=
DJANGO_SECRET_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_BACKEND=
EMAIL_DEFAULT_SENDER=
EMAIL_USE_TLS=